.board{
  border-style: solid;
  border-width: 1px;
  width: 800px;
  height: 600px;
  font-size: 7px;
  background-color: #C0E2CA;
  float: left;
}

.stats{
  float: right;
}

.buyingPanel{
  float: right;
}

.cardShowcase{
  border-style: solid;
}

.cardColor{
  width: 130px;
  height: 50px;
}

.street {
  border-style: solid;
  border-width: 1px;
}
.color{
  height: 10px;
}

.corner{
  border-style: solid;
  border-width: 1px;
  height: 80px;
  width: 80px;
}

.center{
  border-style: none;
}

.owner{
  height: 5px;
}

.playerStanding{
  height: 20px;
}

.player {
  height: 15px;
  width:15px;
  float:left;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
}
